    <!-- modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="ModalBarangLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ModalBarangLabel">Masukan data</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/tambahBarang" method="post" enctype="multipart/form-data">
                    <input type="text" name="id_JenisBarang" hidden value= "<%= id %>" id="id_JenisBarang">
                 Barang
                    <input type="text" id="NamaBarang" class="form-control" name="NamaBarang"
                    onchange="validasi_modal1()" required>
                  harga
                    <input type="number" id="harga" class="form-control" name="harga" onchange="validasi_modal1()"
                    required>
                    stock
                    <input type="number" id="stock" class="form-control" name="stock" required>
                    <input type="number" id="harga" class="form-control" name="harga" onchange="validasi_modal1()"
                    required>
                    new_stock
                    <input type="number" id="new_stock" class="form-control" name="new_stock" required>
                    
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Masukan Photo</label>
                        <input class="form-control" type="file" id="formFile" name="Photo">
                      </div>        
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Batalkan</button>
                <button type="submit" class="btn btn-primary" id="save">simpan</button>
            </div>
            </form>
        </div>
    </div>
</div>
<!-- modal 1 end -->
    <!-- modal 2 -->
    <div class="modal fade" id="modalBarang" tabindex="-1" aria-labelledby="modalBarang" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalBarang">Masukan data</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/tambahTransaksi" method="post">
                        <input type="text"  id="barang_id" name="barang_id">
                        <input type="text"  id="hargabarang" name="hargabarang">
                        <input type="text"  id="stock1" name="stock1">
                        <input type="text"  id="total" name="total">
                        <input type="text"  id="new_Stock" name="new_Stock">
                        <label for="jumlah">Masukan Jumlah Barang</label>
                        <input type="text" class="form-control" name="jumlah" id="jumlah" onchange="total_harga()">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Tidak</button>
                    <button type="submit" class="btn btn-primary">Tambahkan</button>
                </div>
                </form>
            </div>
        </div>
        </div>
        </div>
        <!-- modal 2 end -->
            <!-- modal 3 -->
    <div class="modal fade" id="modalCancel" tabindex="-1" aria-labelledby="modalCancelLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalCancelLabel">Masukan data</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/cancelTransaksi" method="post">
                        <input type="text"  id="id_transaksi" name="id_transaksi">
                        <input type="text"  id="barang_id2" name="barang_id2">
                        <input type="text"  id="stockBaru" name="stockBaru">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tidak</button>
                    <button type="submit" class="btn btn-danger">Batalkan</button>
                </div>
                </form>
            </div>
        </div>
    </div>

    
    </div>

</body>




